@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-dark: #193322;
  --color-border-green: #326744;
  --color-text-muted: #92c9a4;
  
  --font-display: "Lexend", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
